{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style2.css' %}">
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

  <title>{% block title %} Sparion {% endblock %}</title>
</head>
<body class="white">
  <nav class="blue">
    <ul class="ul2">
      <li>
        <a href="{% url 'bank_app:index' %}" class="logo2"></a>
      </li>
      <li>
        <form action="{% url 'login_app:logout' %}">
          <button>Log out</button>
        </form>      
      </li>
    </ul>
  </nav>
  <div class="staff_main">
    <!-- <div class="float-rigth"> -->
      <ul class="staff_nav">
        <a href="">
          <li class="head">  
            <ion-icon size="large" name="person-outline"></ion-icon>  
            {{ user.customer.full_name }}         
          </li>
        </a>
        <div class="line"></div>
        <a href="{% url 'bank_app:home' %}">
          <li>Dashboard</li>
        </a>
        <div class="line"></div>
        <a href="{% url 'bank_app:accounts' %}">
          <li>
            My accounts
          </li>
        </a>
        <div class="line"></div>
        <a href="{% url 'bank_app:transfer' %}"> 
          <li>
            Transfer
          </li>
        </a>
        <div class="line"></div>
        <a href="{% url 'bank_app:loans' %}">
          <li>
            Loans
          </li>
        </a>
        <div class="line"></div>
        <a href="{% url 'bank_app:stocks' %}"> 
          <li>
            Investments
          </li>
        </a>
        <div class="line"></div>
        <a  href="{% url 'bank_app:profile' %}">
          <li>
            Settings
          </li>
        </a>
        <div class="line"></div>
      </ul>
    <!-- </div> -->
    <div class="box">  
      {% block content %}
      
      {% endblock %}
    </div>
  </div>

  
<footer>
  <div class="info">
    <div class="phone">
      <ion-icon size="large" name="call-outline"></ion-icon>      
      <h4>+45 50253350</h4>
    </div>
    <div class="hours">
      <ion-icon size="large" name="time-outline"></ion-icon>
      <h4>09:00 - 16:00 All weekdays</h4>
    </div>
  </div>
  <div class="company-info">
    <span>Sparion Bank hf.</span>
    <span>CPR: 230595-2918</span>
    <span>Rådmandsgade 34</span>
    <span>Nørrebro</span>
    <span><a href="">sparion@sparion.dk</a></span>
    <span>Swift: HIMMEL</span>
  </div>
</footer>
<script src="{% static 'js/script.js' %}"></script>
</body>
</html>