{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style2.css' %}">
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <title>{% block title %} Sparion {% endblock %}</title>
</head>
<body class="white">
  <nav class="blue">
    <ul class="ul2">
      <li>
        <a href="{% url 'bank_app:index' %}" class="logo2"></a>
      </li>
      <li>
        <form action="{% url 'login_app:logout' %}">
          <button>Log out</button>
        </form>      
      </li>
    </ul>
  </nav>
  <div class="staff_main">
    <ul class="staff_nav">
      <a href="">
        <li class="head">  
          <ion-icon size="large" name="person-outline"></ion-icon>  
          {{ user }}
        </li>
      </a>
      <div class="line"></div>

        <a href="{% url 'bank_app:staff' %}">
          <li>Dashboard</li>
        </a>
        <div class="line"></div>
        <a href="{% url 'bank_app:staffCustomerView' %}">
          <li>Customers</li>
        </a>
        <div class="line"></div>
        <a href="{% url 'bank_app:staffAccountView' %}">
          <li>Accounts</li>
        </a>
        <div class="line"></div>
        <a href="{% url 'bank_app:staffNewCustomer' %}">
          <li>New customer</li>
        </a>
        <div class="line"></div>
        <a href="{% url 'bank_app:staffNewAccount' %}">
          <li>New account</li>
        </a>
        <div class="line"></div>
        <a href="{% url 'bank_app:staffTransfers' %}">
          <li>Transfers</li>
        </a>
        <div class="line"></div>
    </ul>
    <div>  
      <div class="box">
        {% block content %} {% endblock %}
      </div>
    </div>
  </div>

  
<footer>
  <h5>footer</h5>
</footer>
</body>
</html>