{% extends 'bank_app/base/base3.html' %} 
{% block content %}
<h2>Your accounts</h2>
{% for account in accounts %}
  {% if account.user_id == user_id and account.account_type != 'Loan account' %}
  <div>
  <h3><button id="{{account.id}}" onclick="showHide(`{{account.id}}`)">{{ account.title }} - {{ account.money|floatformat:2 }}kr</button></h3>
  <table id="account-table-{{account.id}}" class="account-table hidden">
    <tr class="account-titles">
      <th>Date</th>
      <th>Account</th>
      <th>Type</th>
      <th>Number</th>
      <th>Text</th>
      <th>Amount</th>
    </tr>
    {% for transaction in account.movements %}
    <tr>
      <td>12.05.2022</td>
      {% for movement in ledger %}
      {% if transaction.transaction_id == movement.transaction_id and movement.account_id != transaction.account_id %}
      {% for other_account in accounts %}
      {% if other_account.id == movement.account_id %}
      <td>{{ other_account.title }}</td>
      {% if other_account.title == 'BANK' and transaction.amount >= 0 %}
      <td>Loan</td>
      {% else %}
      <td>Transfer</td>
      {% endif %}
      {% endif %}
      {% endfor %}
      {% endif %}
      {% endfor %}
      <td>{{ transaction.transaction_id }}</td> 
      <td>{{ transaction.text }}</td> 
      {% if transaction.amount >= 0 %}
      <td class="green">{{ transaction.amount|floatformat:2 }}</td>
      {% else %}
      <td class="red">{{ transaction.amount|floatformat:2 }}</td> 
      {% endif %}
      
    
    </tr>

    {% endfor %}
  </table>
</div>
  {% endif %}
{% endfor %}



{% endblock %}