{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Sparion</title>
</head>
<body>
  <nav>
    <ul>
      <li>Individuals</li>
      <li>Business</li>
      <li>Markets</li>
      <li>About us</li>
    </ul>
    <ul>
      <form action="{% url 'login_app:logout' %}">
        <button>Log out</button>
      </form>
    </ul>
  </nav>
  <h1>Hi, {{ user }}</h1>
	<h1>Welcome to Sparion</h1>
  <button>Create an account</button>




  {% if error %}
    {{ error }}
  {% endif %} 
</body>
</html>
