{% extends 'bank_app/base/base3.html' %} 
{% block content %}
{% load static %}
  <h2>Dashboard</h2>
  <h3>Overview</h3>
  <div class="overview">
    <div>
      <h5>Your Debit card</h5>
      {% for account in accounts %}
        {% if account.user_id == user_id %}
          {% if account.account_type == 'Debit Account' %}
            <div class="card">      
              <div>
                <p>Staða</p>
                <p class="money green">{{account.money}} kr.</p>
              </div>
              <div>
                <p>Til ráðstöfunar</p>
                <p class="money">{{account.money}} kr.</p>
              </div>
            </div>
            <a href="">Transfer</a>
          {% endif %}
        {% endif %}
      {% endfor %}
      <div class="card">
        <img src="{% static 'images/debit-card.svg' %}" alt="" width="56">
        <p>You can start to use your new Debit card today. </p>
      </div>
      <a href="">Apply for a card</a>
    </div>
    <div>
    <h5>Membership</h5>
      {% for customer in customers %}
      {% if customer.user_id == user_id %}
      <div class="card">
        <img src="{% static 'images/arion-bolli.png' %}" alt="" width="56">
        <p>{{ customer.customer_rank }}</p>
      </div>
      {% endif %}
    {% endfor %}
    </div>
    <div>
      <h5>Credit card</h5>
      <div class="card">
        <img src="{% static 'images/credit-card-plane.svg' %}" alt="">
        <p>It's good to be insured while traveling. </p>
      </div>
      <a href="">Apply for a card</a>
    </div>
        <div>
      <h5>Unpaid bills</h5>
    </div>
  </div>
  <div class="accounts">
    <h3>Accounts</h3>
    <div>
      <table class="account-table">
        <tr class="account-titles">
          <th>Number</th>
          <th>Owner</th>
          <th>Name</th>
          <th class="float-right">Status</th>
        </tr>
        {% for account in accounts %}
        {% if account.user_id == user_id %}
        <tr>
          <td>{{ account.id }}</td>
          <td>{{ account.user }}</td>
          <td>{{ account.title }}</td>
          {% if account.money > 0 %}
          <td class="float-right green">{{ account.money }} kr.</td>
          {% else %}
          <td class="float-right">{{ account.money }} kr.</td>
          {% endif %}
        </tr>
        {% endif %}
        {% endfor %}
      </table>
    </div>
  </div>

  {% if error %}
    {{ error }}
  {% endif %} 
{% endblock %}