{% extends 'bank_app/base/base3.html' %} 
{% block content %}

<h2>Loans</h2>
{% for a in account %}
{{a}}
<ul class="profile-nav">
  <a href="">
    <li>
      Information
    </li>
  </a>
  <a href="">
    <li>
      Transfer history
    </li>
  </a>
</ul>

<div class="info-loan-details">
<div>
  <div>
    <h5>Loan taker</h5>
    <p>{{a.user.customer.full_name}}</p>
  </div>
  <div>
    <h5>Loan taker ID</h5>
    <p>{{a.user.id}}</p>
  </div>
  <div>
    <h5>Loan number</h5>
    <p>{{a.id}}</p>
  </div>
  <div>
    <h5>Loan type</h5>
    <p>{{a.account_type}}</p>
  </div>
  <div>
    <h5>Loan status</h5>
    <p>{{a.money}}</p>
  </div>
  <div>
    <h5>Fixed interest rates</h5>
    <p>0.00%</p>
</div>
</div>
<div>
  <div>
    <h5>Loan taker</h5>
    <p>{{a.user.customer.full_name}}</p>
  </div>
  <div>
    <h5>Loan taker ID</h5>
    <p>{{a.user.id}}</p>
  </div>
  <div>
    <h5>Loan number</h5>
    <p>{{a.id}}</p>
  </div>
  <div>
    <h5>Loan type</h5>
    <p>{{a.account_type}}</p>
  </div>
  <div>
    <h5>Loan status</h5>
    <p>{{a.money}}</p>
  </div>
  <div>
    <h5>Fixed interest rates</h5>
    <p>0.00%</p>
</div>
</div>
</div>


{% endfor %}
<!-- {% for transaction in transactions %}
<li>{{transaction.amount}}</li>
<li>{{transaction.account.title}}</li>
{% endfor %} -->
<div class="form">
  <form action="" method="POST">
    {% csrf_token %}
    {{ loan_form }}
    <input type="submit" value="Pay" name="" id="">
  </form>
</div>
{% endblock %}