{% extends 'bank_app/base/base3.html' %} 
{% block content %}
<h2>Loans</h2>

{% if user.customer.customer_rank == 'basic' %}
<div class="no-loans">
  <ion-icon size="large" name="information-circle-outline"></ion-icon>
  <p>You do not have any loans registered with Sparion Bank</p>
</div>
{% else %}
<!-- <div class="backmodall"></div> -->
<div class="modal" hidden>
  <div class="form">
    <form action="">
      <label for="amount">Amount</label>
      <input type="text" id="amount">
      <button>Pay</button>
    </form>
  </div>
</div>
<div class="flex">
  <div>
    <h3>Your loans</h4>
    <!-- <table class="account-table">
      <tr class="account-titles">
        <th>Loan no.</th>
        <th>Loan taker</th>
        <th>Loan type</th>
        <th>Due date</th>
        <th class="float-right">Remaining</th>
      </tr>
    {% for account in accounts %}
      {% if account.user_id == user_id %}
        {% for transaction in account.movements %}
          {% for movement in ledger %}
            {% if transaction.transaction_id == movement.transaction_id and movement.account_id != transaction.account_id %}
              {% for other_account in accounts %}
                {% if other_account.id == movement.account_id %}
                  {% if other_account.title == 'BANK' and transaction.amount >= 0 %}
                    <tr>
                      <td><a href="{% url 'bank_app:loan_details' transaction.transaction_id %}">{{ transaction.transaction_id }}</a></td>
                      <td>{{ user.customer.full_name }}</td>
                      <td>Regular</td>
                      <td>01.07.2022</td>
                      <td class="float-right">{{ transaction.amount }} kr.</td>
                    </tr>
                  {% endif %}
                {% endif %}
              {% endfor %}
            {% endif %}
          {% endfor %}
        {% endfor %}
      {% endif %}
    {% endfor %}
    </table> -->
    <table class="account-table">
      <tr class="account-titles">
        <th>Loan no.</th>
        <th>Loan taker</th>
        <th>Loan type</th>
        <th>Due date</th>
        <th class="float-right">Remaining</th> 
      </tr>
      {% for account in accounts %}
      {% if account.user_id == user_id and account.account_type == 'Loan account' %}
      <tr>
        <td><a href="{% url 'bank_app:loan_details' account.id %}">{{ account.id }}</a></td>
        <td>{{ user.customer.full_name }}</td>
        <td>{{account.account_type}}</td>
        <td>01.07.2022</td>
        {% if account.money >= 0 %}
        <td class="float-right">{{ account.money }} kr.</td>
        {% else %}
        <td class="red float-right">{{ account.money }} kr.</td> 
        {% endif %}
      </tr>
      {% endif %}
      {% endfor %}
    </table>
  </div>
  <div class="form loanform" >
    <h3>Take a new loan</h3>
    <div class="grayform">
      <form action="" method="POST">
        {% csrf_token %}
        {{ loan_form }}
        <input type="submit" value="Take loan">
      </form>
    </div>
  </div>
</div>
{% endif %}



{% endblock %}