{% extends 'bank_app/base/base3.html' %} 
{% block content %}
{% load static %}
{% if request.path == len(url_path.text) %}
<h2>Stocks</h2>


<div class="flex">

    <h3>{{ meta.name }} ({{ ticker }}) </h3>
    <p>{{meta.description}}</p>
    <div class="main-ticker-price"><h1>{{ price.close|floatformat:2 }}</h1> <h5 class="usd">USD</h5></div>
    <div class="ticker-prices">
        <div><p>Open: {{ price.open|floatformat:2 }}</p></div>
        <div><p>High: {{ price.high|floatformat:2 }}</p></div>
        <div><p>Low: {{ price.low|floatformat:2 }}</p></div>
    </div>

    <div class="stock-forms">
      <div class="buy-stock-form-container">
        <h2>Buy</h2>
        <form action="" method="post" class="buy-stock-form">
          {% csrf_token %}
          {{ buy_stock_form }}
          <input type="Submit" value="Buy {{ ticker }}" class="ticker-input">
        </form>
      </div>
     

      <div class="sell-stock-form-container">
        <h2>Sell</h2>
        <form action="" method="post" class="sell-stock-form">
          {% csrf_token %}
          {{ sell_stock_form }}
          <input type="Submit" value="Sell {{ ticker }}" class="ticker-input">
        </form>
      </div>
    
  </div>

</div>

{% endblock %}