{% extends 'bank_app/base/base.html' %} 
{% block title %} Sparion - Sign in {% endblock %}
{% block content %}
{% load static %}
<div class="login_app">
  <h1>Verify</h1>
  <form action="." method="POST">

        {% csrf_token %}
        <img src="{% static 'login_app/authy-url.svg' %}" alt="">
        <input type="number" name="add_totp_code" id="add_topt_code" placeholder="Code">

        <button type="submit" name="add_verify">Verify</button>
      </form>
      {% if error %}
          {{ error }}
      {% endif %}
  </div>
{% endblock %}
